<h2>Add a new book to the library</h2>


<form action="/celebs/" method="POST">


<p>Celeb Name</p>
<input type="text" name="celebName">


<p>Occupation</p>
<input type="text" name="celebOccupation">


<p>Catch Phrase</p>
<input type="text" name="celebPhrase">


<button>Save</button>

</form>