<h2>Add a new book to the library</h2>


<form action="/celebrities/update/{{person._id}}" method="POST">


<p>Celeb Name</p>
<input type="text" name="updateName" value="{{person.name}}">


<p>Occupation</p>
<input type="text" name="updateOccupation" value="{{person.occupation}}">


<p>Catch Phrase</p>
<input type="text" name="updatePhrase" value="{{person.catchPhrase}}">


<button>Save</button>

</form>