<h2>Celeberities:</h2>
{{#each stars}}
<li>
  <a href="/celebrities/details/{{this._id}}">{{this.name}}</a>
 <form action="/celebrities/delete/{{this._id}}" method="POST">
    <button>Delete</button>
</form>
<form action="/celebrities/edit/{{this._id}}" method="POST">
    <button>edit</button>
</form>
  </li>
{{/each}}